html, body {
    height: 100%;
}

body {
    font-family: Helvetica;
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, rgba(9, 35, 175, 1) 0%, rgb(8, 0, 92) 100%);

    color: white;
}

button {
    color: white;
    background-color: #252525;
    padding: 5px;
    border-radius: 5px;
    width: 100px;
    cursor: pointer;
}

button:hover {
    background-color: #404040;
}